.dateContainer {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-top: 20px;
}
.calendar {
  flex: 1;
}
.register {
  flex: 3;
}
.register > button {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin: 40px 0 0 100px;
  font-size: larger;
}
.roomContainer {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
}
.room {
  height: auto;
  width: 200px;
  position: relative;
  padding-right: 200px;
  margin-right: 20px;
}
.listRoom {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 0px;
  right: 0px;
}
.listRoom input {
  margin: 20px;
}

.register input,
label {
  width: 100%;
  margin: 10px 0;
  font-size: larger;
  padding: 5px 0;
}

.payment {
  padding: 10px 0;
  width: 100%;
  margin-top: 10px;
  font-size: large;
}
